togglest
      body {
        background-color: rgb(63, 62, 62);
        font-family: arial;
      }
      .list {
        background-color: rgb(135, 255, 135);
        width: 400px;
        height: 400px;
      }
      .list-title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        background-color: rgb(250, 108, 108);
      }
      .list-content {
        display: inline-block;
        width: 400px;
        /*line-height: 100px;*/
      }
      .shelf {
        background-color: rgb(255, 111, 245);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0.5px;
        column-gap: 0.5px;
        background-image: url(concept\ app-01.jpg);
        background-size: cover;
        height: 400px;
        width: 300px;
        border-style: solid;
        min-width: 0;
        min-height: 0;
        overflow: hidden;
        position: relative;
      }
      .shelf-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100px;
      }
      .shelf-pic {
        background-image: url(vitalize.jpg);
        background-size: 34px;
        background-repeat: no-repeat;
        position: relative;
        background-position: right 50% bottom 10%;
      }
      .shelf-name {
        background-color: rgba(0, 255, 123, 0.5);
        position: absolute;
        font-size: 7px;
        font-weight: bold;
        padding: 3.5px;
        border-radius: 2px;
        bottom: 80px;
        left: 10px;
      }
      .shelf-quantity {
        background-color: rgba(0, 30, 255, 0.5);
        position: absolute;
        font-size: 7px;
        font-weight: bold;
        padding: 3.5px;
        border-radius: 2px;
        bottom: 63px;
        left: 17px;
      }
      .shelf-one {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 2fr;
        overflow: hidden;
        font-weight: bold;
      }

      /* HIGHLIGHT */
      .shelf-D1,.shelf-D2 { 
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 2fr;
        overflow: hidden;
        font-weight: bold;
      }
      /* HIGHLIGHT */
      .shelf-active{
        background-color: rgb(246, 177, 255);
        transition: 0.2s ease;
      }


      .one {
        background-color: rgb(249, 94, 94);
        font-size: 8px;
        border-style: none;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 1px;
      }
      .two {
        background-color: rgb(56, 197, 91);
        font-size: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 10px;
        height: 20px;
        margin: 2px;
      }

      .css-panelNumber-buttons {
        background-color: brown;
        display: flex;
      }
      .css-panelNumber,.css-panelNumberD1 { /*HIDE*/ 
        background-color: rgb(78, 212, 233);
        font-size: 1px;
        position: absolute;
        top: 120px;
        transition: 0.2s ease;
        z-index: 0; 
        height: 20px;
        display: flex;
      } 
      /*EDIT APPEAR BUTTON*/ 
      .css-panelNumber-active,.css-panelNumber-activeD1 { /*APPEAR*/
        background-color: rgb(245, 128, 55);
        font-size: 8px;
        height: 20px;
        position: absolute;
        display: flex;
        top: 95px;
        transition: 0.5s ease;
        z-index: 1;
      } 
      /*ENTER BUTTONS*/
      .css-EnterPanelNumber,.css-EnterPanelNumberD1{
        font-size: 10px;
        border-radius: 5px;
        width: 49px;
        height: 20px;
        position: absolute;
        top: -22px;
        transition: 0.2s ease;
        z-index: 0;
      }
      .css-EnterPanelNumber-active,
      .css-EnterPanelNumber-activeD1{
        position: absolute;
        font-size: 10px;
        border-radius: 5px;
        width: 49px;
        top: 0px;
        height: 20px;
        transition: 0.5s ease;
        z-index:0;
      }
      .button {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border-style: none;
        font-size: 8px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .button:hover {
        background-color: rgb(199, 199, 199);
      }
      .buttonD2 {
        border-style: none;
        font-size: 10px;
        width: 25px;
        background-color: rgb(185, 115, 255);
      }
      .buttonD2:hover {
        background-color: rgb(255, 143, 212);
      }
      .panelNumber-QuantityD2, .panelNumber-QuantityD1 {
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: rgb(150, 109, 255);
        z-index: 10;
        cursor: pointer;
      }
      .quantityDisplay { /* experiment here */
          background-color: rgb(146, 146, 243);
          height: 20px;
          font-size: 8px;
          justify-content: center;
          align-items: center;
          display: flex;
          margin: 2px;
          z-index: 0;
        }
      
      .twotwo {
        background-color: rgb(55, 96, 180);
        font-size: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 20px;
        margin: 2px;
      }
      .pic-d1 {
        background-image: url(Pictures/vitalize.jpg);
        background-repeat: no-repeat;
        background-size: 64%;
        background-position:center;
        margin: 1%;
      }
      .pic-b1{
        background-image: url(Pictures/pdlime.jpg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position:center;
        margin: 1%;
      }
      .pic-b2{
        background-image: url(Pictures/vita-c.jpg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position:center;
        margin: 1%;
      }
      .pic-d2{
        background-image: url(Pictures/vita-c.jpg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position:center;
        margin: 1%;
      }
      .css-input{
        position: absolute;
        width: 40px;
        height: 10px;
        font-size: 10px;
        z-index: 0;
      }
      .line-main{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5px;
      }
      .button-one, .button-two {
        height: 50%;;
        margin-left: 5px;
      }
      .css-shelf-list{
        background-color: rgb(242, 0, 0);
        padding: 5px;
        width: 100%;
      }
 